* {
    margin: 0;
    padding: 0;
}

.header {
    margin-top: 40px;
}

.header__logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.header__links {
    padding-top: 11px;
    padding-bottom: 12px;
}

.top__content {
    margin-top: 84px;
    margin-bottom: 162px;
}

.title {
    padding-bottom: 17px;
}

.subtitle {
    padding-bottom: 37px;
}

.top__logos {
    padding-top: 97px;
    padding-bottom: 96px;
}