.content_header {
    display: grid;
    gap: 60px;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
}

.item_big {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.header_link {
    text-decoration: none;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.item {
    background: #FFF;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.heading {
    margin-bottom: 17px;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.item_text {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}


/*Второй блок*/



.content_top {
    background: #FAFAFA;
    margin-bottom: 100px;
}

.blocks {
    display: grid;
    gap: 30px;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
}

.top {
    display: grid;
    justify-content: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 92px;
    margin-bottom: 19px;
}

.top_text {
    display: grid;
    justify-content: center;
    color: #666;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    padding-bottom: 54px;
}

.block {
    display: grid;
    justify-items: center;
    background: #FFF;
}

.blocking {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block_text {
    color: #AAA;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 22px;
    padding-bottom: 39px;
}

.but {
    text-decoration: none;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

