@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

/* Центрируем весь сайт */
.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Vollkorn", serif;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.header {
  background-color: #222;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_top {
  padding: 60px 6%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header_top_left_text {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header_top_right {
  display: flex;
}

.breadcrumbs {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.breadcrumbs_new {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
  padding: 0 5%;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
  padding: 0 5%;
  position: relative;
}

.header__right:hover .menu_box {
  display: flex;
}

.menu_box {
  padding: 59px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  margin-top: -31px;
  margin-left: -289px;
  display: none;
}

.item_link {
  display: block;
  padding-top: 10px;
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.item_link:hover {
  color: #F16D7F;
}

.menu_heading {
  max-width: 100px;
  border-bottom: 1px solid #000;
  margin-bottom: 5px;
  color: #636363;
  font-family: Lato;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.promo {
  background: #F1E4E6;
  display: flex;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.promo_cat {
  display: flex;
  align-items: center;
  justify-content: center;
}
.promo_cat_img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.promo_cat_arrows {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.promo_img {
  width: 50%;
}

.promo__content {
  padding-left: 64px;
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.promo__info {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 290px;
}

.promo__head {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
}

.sale {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 64px;
  padding-bottom: 96px;
  justify-items: center;
}

.sale__item {
  position: relative;
}

.sale__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale__item_big {
  grid-column: 1/-1;
}

.sale__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.sale__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
}

.product_box {
  padding-bottom: 90px;
}

.product_box__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.product_box__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin-top: 6px;
  color: #9F9F9F;
}

.product_box__content {
  margin-top: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 30px;
}

.product {
  position: relative;
}

/* сдвигает элемент относительно его обычного положения. */
.product:hover .product__img {
  filter: brightness(0.5);
}

.product:hover .product__add {
  display: flex;
}

.product__img {
  width: 100%;
}

.product__add {
  position: absolute;
  top: 188px;
  left: 111px;
  border: 1px solid #fff;
  width: 139px;
  height: 44px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: none;
  align-items: center;
  justify-content: center;
  gap: 11px;
  color: #FFFFFF;
}

.product__add:hover {
  box-shadow: 0 0 5px #fff;
}

.product__add:hover svg path {
  fill: #F16D7F;
}

.product_content {
  background: #F8F8F8;
  display: flex;
  padding: 24px 16px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.product_heading {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product_text {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.product_price {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.last_text {
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_text {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #FF6A6A; /*рамка вокруг текса*/
  padding: 15px 40px; /*падинги рамки от текста*/
  display: flex;
  align-items: center;
}

.advantages {
  background-color: #222222;
  padding-top: 104px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.advantages__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.advantages__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.advantages__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.button_text:hover {
  background-color: #F26376;
  color: #FBFBFB;
}

.footer__block {
  flex-shrink: 0;
  background: url(<path-to-image>), lightgray 0px -169px/100% 246.875% no-repeat;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__block__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.footer__block__left__img {
  display: flex;
  width: 96px;
  flex-shrink: 0;
  height: 96px;
  margin-top: 97px;
}
.footer__block__left__text {
  display: flex;
  max-width: 359.449px;
  flex-shrink: 0;
  max-height: 99px;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 126px;
}
.footer__block__right {
  max-width: 557px;
  flex-shrink: 0;
  max-height: 61px;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
}
.footer__block__right__text_h1 {
  color: #222224;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
  text-align: center;
}
.footer__block__right__text_h2 {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  font-family: Lato;
}

.head {
  min-height: 148px;
  background: #F1E4E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head__heading {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.breadcrumb {
  display: flex;
}
.breadcrumb__box-link:last-child .breadcrumb__link {
  font-weight: 700;
  color: #F16D7F;
}
.breadcrumb__box-link:not(:last-child)::after {
  content: "/";
  padding-left: 8px;
  padding-right: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb__link {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}
.breadcrumb:hover {
  color: #F16D7F;
}

.slider {
  height: 777px;
  position: relative;
  background: #F7F7F7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__arrow {
  background: rgba(42, 42, 42, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 365px;
}
.slider__arrow_left {
  left: 0;
}
.slider__arrow_right {
  right: 0;
}
.slider__arrow:hover path {
  fill: #F16D7F;
}

.content_cat_main {
  margin-left: calc(50% - 570px);
  margin-right: calc(50% - 570px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e6e6e6;
}
.content_cat_text {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 13px;
  margin-top: 30px;
}
.content_cat__line {
  width: 63px;
  height: 3.025px;
  flex-shrink: 0;
  padding-bottom: 30px;
}
.content_cat__heading {
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 50px;
}
.content_cat__text {
  color: #5E5E5E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 33px;
  max-width: 555px;
}
.content_cat__price {
  color: #EF5B70;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 50px;
}

.cat_breadcrumbs {
  padding-bottom: 49px;
  margin-top: 30px;
}
.cat_breadcrumbs_list {
  display: flex;
  gap: 23px;
}
.cat_breadcrumbs_text {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.list1 {
  display: flex;
  gap: 9px;
  align-items: center;
}

.list2 {
  display: flex;
  gap: 9px;
  align-items: center;
}

.list3 {
  display: flex;
  gap: 9px;
  align-items: center;
}

.button_cat_text {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #FF6A6A; /*рамка вокруг текса*/
  padding: 15px 40px; /*падинги рамки от текста*/
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 65px;
}

.button_cat_text:hover {
  background-color: #F26376;
  color: #FBFBFB;
}

.button_cat_text:hover svg path {
  fill: #FFFFFF;
}

footer {
  background-image: url(img/subscribe.jpg);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .sale {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 32px;
    padding-bottom: 48px;
    justify-items: center;
  }
  .header__left {
    padding: 0 5%;
  }
  .header__right {
    padding: 0 5%;
  }
}
@media (max-width: 767px) {
  .product {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__left {
    padding: 0 5%;
  }
  .header__right {
    padding: 0 5%;
  }
  .promo__img {
    display: none;
  }
  .promo__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
  }
  .promo__info {
    margin-top: 10%;
    margin-bottom: 5%;
  }
  .sale__item_big {
    padding: 0 2%;
  }
  .sale {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 16px;
    padding-bottom: 24px;
    justify-items: center;
  }
  .product_box__content {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 15px;
  }
  .product_content {
    max-width: 329px;
  }
  .profile {
    display: none;
  }
  .cart {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */