.container {
    border: px solid #858585;
    max-width: max-content;
    max-height: max-content;
    border-radius: 8px;
    padding: 30px;
    background-color: #f3f3f3;
    box-shadow: 6px 2px 32px rgb(141, 141, 141);
}
.addList {
    display: flex;
    align-items: center;
    gap: 10px;
    }


#tasks {
    margin-bottom: 20px;
  .task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid #ff232381;
    border-radius: 5px;
    min-width: min-content;
    max-width: max-content;
  }
  .completed {
    text-decoration: line-through;
    background-color: #ffffff;
    opacity: 400ms;
    border: 2px solid #00ff2285;
    font-size: larger;
  }

    li {
        list-style-type: none
    }
    ul {
        padding-left: 0px;
    }}

#taskInput {
    min-width: 300px;
    min-height: 30px;
    border: 2px solid #d1d1d1;
    border-radius: 7px;
    background-color: #eeeeee69;
}

button {
    color: #F26376;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
}
.comp {
    display: flex;
    align-items: center;
    gap: 10px;
}

.imgEl {
    max-height: 30px; 
}

.task img {
    margin-left: 10px;
  }
